.image-preview img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.image-preview .image-load{
    animation: fadeIn 700ms;
    -webkit-animation: fadeIn 700ms;
}

.pin-image .image-load{
    opacity: 1;
}

.scroll-shadow{
    animation: fadeIn 700ms;
    -webkit-animation: fadeIn 700ms;
}

.pin-top-buttons .spinner{
    display: none;
    height: 20px;
    width: 20px;
    border: 5px solid rgb(228, 228, 228);
    border-top: 5px solid lightgreen;
    border-radius: 50%;
    position: absolute;
    top: 55px;
    right: 10px;
    animation: spin 800ms linear infinite;
    -webkit-animation: spin 800ms linear infinite;
}

.pin-index-box .main-loading-spinner{
    height: 40px;
    width: 40px;
    border: 10px solid rgb(228, 228, 228);
    border-top: 10px solid lightgreen;
    border-bottom: 10px solid lightgreen;
    border-radius: 50%;
    animation: spin 800ms linear infinite;
    -webkit-animation: spin 800ms linear infinite;
}

.main-spinner-box{
    opacity: 0;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    transition: 300ms ease-in-out;
}

.loading-message{
    max-width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
    text-align: center;
}

.pin-top-buttons .show-spinner{
    display: block;
}

.pin-index-box .show-spinner{
    opacity: 1;
    display: flex;
    cursor: initial;
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@-webkit-keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}