.board-index-box{
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.board-index-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 236px;
    height: 236px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(rgb(98, 255, 229), rgb(238, 227, 255));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.board-index-item{
    padding: 20px;
    color: black;
}

.board-index-item:visited{
    color: black;
}

.board-index-item > i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
}

.board-form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.board-form-box > h1{
    box-sizing: border-box;
    width: 720px;
    text-align: center;
    padding: 32px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}

.date-options > div{
    display: flex;
    flex-direction: column;
}

.date-options > div > p:first-child{
    margin-top: 14px;
    margin-bottom: 0px;
}
.board-form-box .bottom-options{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row-reverse;
}

.board-form-box .checkbox{
    width: 100%;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.board-form-box .checkbox input{
    width: 10%;
}

.board-form-box .edit-details > div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: none;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.start-end-date > label{
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
}

.close-form{
    position: absolute;

}

.board-info{
    text-align: center;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}