.pin-modal{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.pin-form-box{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 40px;
    width: 840px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 1px 1px 10px #e0e0e0;
}

.pin-top-buttons{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: end;
}

.pin-top-buttons > button{
    width: 100px;
    font-size: 18px;
    padding-right: 15px;
    padding-left: 15px;
    font-family: inherit;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    font-weight: bold;
    background-color: lightgrey;
}

.pin-top-buttons > button .select-board{
    width: 150px;
    color: rgb(0, 87, 6);
    padding: 15px;
}

.pin-top-buttons > button .save-pin{
    background-color: limegreen;
    color: white;
    padding: 15px;
}

.pin-main-content{
    display: flex;
    justify-content: center;
}

.pin-main-content .pin-image-box{
    width: 50%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    
}

.pin-image-back{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 454px;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
}

.pin-image-box i{
    font-size: 40px;
    color: rgb(107, 107, 107);
}

.save-from-site{
    width: 340px;
    height: 48px;
}

.pin-main-content .pin-create-fields{
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
}

.edit-pin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.edit-pin:hover{
    cursor: pointer;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 50%;
}

.edit-pin > i{
    font-size: 20px;

    color: black;
}

.pin-edit-form-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.edit-pin-board{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
}

.modal-child-round-box > h1{
    margin: 0;
    padding: 32px;
    font-family: "Noto Sans";
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.edit-pin-board .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 66%;
    box-sizing: border-box;
    padding: 12px 16px;
}

.edit-details, .board-selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding: 12px 16px;
    box-sizing: border-box;
    font-size: 14px;
}

.edit-details > div, .board-selection > div{
    padding: 0px 16px 16px 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    color: rgb(59, 59, 59);
}

.edit-details > div{
    border-top: 1px solid rgb(190, 190, 190);
}

.edit-details textarea, 
.edit-details input, 
.board-selection select{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    resize: none;
    border-radius: 10px;
    border: 2px solid rgb(199, 199, 199);
    width: 350px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.board-selection select{
    border: none;
    background-color: rgb(235, 235, 235);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.board-selection select:hover{
    cursor: pointer;
}

.drop-down-arrow{
    position: absolute;
    right: 40%;
    display: flex;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    pointer-events: none;
}

.edit-details input:focus, 
.edit-details textarea:focus{
    outline-style: none;
    border: 3px solid rgb(0, 223, 0);
    margin: 9px;
}

.board-selection select:focus{
    outline-style: none;
    border: 3px solid rgb(0, 233, 0);
    margin: 7px;
}

.edit-pin-board .image{
    width: 33%;
    height: 400px;
    max-height: 400px;
    padding: 12px 16px;
}

.bottom-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
}

.bottom-options button{
    height: 40px;
    width: auto;
    margin: 10px;
    box-sizing: border-box;
    padding: 8px 12px;
    border: inherit;
    border-radius: 30px;
    background-color: rgb(231, 231, 231);
    color: black;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
}

.bottom-options button:hover{
    background-color: rgb(199, 199, 199);
}

.save-or-cancel > .save-edit{
    background-color: rgb(24, 187, 35);
    color: rgb(255, 255, 255);
}

.save-or-cancel > .save-edit:hover{
    background-color: rgb(28, 143, 36);
}