.all-pins-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-top: 80px;
    padding: 20px;
    width: 100%;
    height: 100%;
    /* background-color: rgb(179, 240, 179); */
}

.pin-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: rgb(183, 236, 207);
    height: auto;
    width: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pin-box:hover{
    background-color: rgb(106, 243, 168);
}

.pin-show-page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    padding-top: 80px;
    box-sizing: border-box;
}

.pin-show-box{
    height: 600px;
    width: 600px;
    background-color: rgb(167, 231, 207);
    display: flex;
    border-radius: 20px;
}

.pin-image{
    width: 50%;
    margin: 20px;
    border-radius: 20px;
    background: linear-gradient( #e66465, #9198e5);
}

.pin-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.create-pin-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 289px;
    width: 252px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 16px;
}

.create-pin-button:hover{
    cursor: pointer;
    background: rgba(61, 61, 61, 0.2);
}

.create-pin-button .image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: rgb(0, 170, 0);
    text-decoration: none;
    height: 236px;
    width: 236px;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
}

.create-pin-button .title{
    width: 88%;
    text-align: left;
    padding: 8px;
    color: gray;
}