.all-pins-box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 20px 80px;
    width: 100%;
    height: 100%;
}

.pin-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pin-box{
    width: 236px;
    margin: 8px;
    margin-top: 0px;
    height: auto;
    vertical-align: middle;
}

.pin-box-details{
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background: transparent;
}

.pin-box-details:hover{
    box-shadow: 0px 10px 25px 7px rgba(0, 0, 0, 0.2);
}

.pin-space{
    padding: 8px 6px;
    padding-bottom: 16px;
}

.pin-show-page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.back-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 20px;
    width: 48px;
    height: 48px;
    top: 120px;
    left: 40px;
}

.back-button:hover{
    cursor: pointer;
    width: 48px;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 50%;
}

.pin-show-box{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: auto;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.281);
}

.pin-image{
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    width: 236px;
    height: auto;
    overflow: hidden;
}

.pin-image:hover{
    cursor: pointer;
}

.pin-image-show{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 10px;
    min-height: 400px;
    min-width: 200px;
    max-width: 600px;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.partition{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.thumbnail{
    border-radius: 20px;
    height: auto;
    width: 100%;
    max-width: 600px;
}

.thumbnail:hover{
    background: rgba(65, 65, 65, 0.658);
}

.pin-content{
    padding: 20px;
    width: 100%;
    max-width: 600px;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.pin-content a{
    text-decoration: none;
    color: black;
}

.pin-content a:visited{
    color: black;
}

.create-pin-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 289px;
    width: 252px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    padding-bottom: 16px;
}

.create-pin-button:hover{
    cursor: pointer;
    border-radius: 10px;
    background: rgba(105, 105, 105, 0.2);
}

.create-pin-button .image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: #1DB954;
    text-decoration: none;
    height: 236px;
    width: 236px;
    border-radius: 10px;
    margin: 8px;
    background-color: rgb(240, 240, 240);
}

.create-pin-button .title{
    width: 88%;
    text-align: left;
    padding: 8px;
    color: gray;
}

.related-pins{
    width: 100%;
    height: auto;
}

.related-pins > h1{
    width: 100%;
    text-align: center;
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    margin-top: 40px;
    box-sizing: border-box;
}

.hover-details{
    display: hidden;
}