.signup-form-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.signup-form-buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.signup-form-buttons button:hover{
    background-color: rgb(189, 189, 189);
}

.next-only{
    justify-content: center;
}

.radio-fields{
    width: 250px;
    padding: 30px;
    justify-content: flex-start;
    box-sizing: border-box;
}

.radio-fields div{
    padding: 10px;
}

.radio-fields div input{
    color: green
}

.radio-fields div label{
    padding: 10px;
}

.dropdown-fields{
    width: 100%;
    padding: 30px;
    justify-content: center;
    box-sizing: border-box;
}

#language, #region{
    margin: 10px;
    width: 200px;
    height: 20px;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
}

#language:focus, #region:focus{
    outline: none;
    border: 2px solid rgb(0, 223, 0);
}

#language > select{
    display: inline-block;
    height: 30px;
    font-family: cursive;
}

option:hover{
    background-color: rgb(0, 155, 0);
}