.user-details-form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 550px;
    font-size: 20px;
    padding-top: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    color: rgb(48, 48, 48);
}

.signup-form-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.signup-form-buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.signup-form-buttons button:hover{
    background-color: rgb(189, 189, 189);
}

.next-only{
    justify-content: center;
}

.radio-fields{
    width: 250px;
    padding: 30px;
    justify-content: flex-start;
    box-sizing: border-box;
}

.radio-fields div{
    padding: 10px;
}

.radio-fields div input{
    color: green
}

.radio-fields div label{
    padding: 10px;
}

.dropdown-fields{
    width: 100%;
    padding: 30px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#language, #region{
    margin: 10px;
    width: 200px;
    height: 20px;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
}

#language:focus, #region:focus{
    outline: none;
    border: 2px solid rgb(0, 223, 0);
}

#language > select{
    display: inline-block;
    height: 30px;
    font-family: cursive;
}

option:hover{
    background-color: rgb(0, 155, 0);
}

.prompt{
    font-size: 16px;
    padding: 7px;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro p{
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 2px;
}

.intro > .intro-link{
    font-weight: bolder;
}

.email-pic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.email-pic div{
    padding: 15px;
}

.email-pic-icon{
    margin-top: 20px;
    font-size: 90px;
    /* box-shadow: 0 0 40px 20px rgb(0, 255, 42); */
}

h1{
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    font-size: 35px;
}

.login-form-buttons .next {
    width: 400px;
    height: 40px;
    padding: 7px;
}

.form-title{
    padding: 30px;
    text-align: center;
}

.final-login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}