.login-signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 484px;
    height: 370px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.login-signup div #logo {
    font-size: 45px;
    margin-top: 10px;
}

h2{
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 27px;
}

.buttons{
    /* margin-top: 20px; */
    padding: 15px;
    width: 85%;
}

button{
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    font-family: inherit;
    border-radius: 30px;
    border: inherit;
    box-sizing: border-box;
    font-weight: bold;
}

button:focus{
    outline: none;
}

.login-button{
    background-color: rgb(18, 165, 55);
    color: white;
}

.demo-login-button{
    background-color: rgb(8, 71, 24);
    color: white;
}

.demo-login-button:hover{
    background-color: rgb(141, 223, 154);
}

.buttons .signup-button{
    background-color: rgb(230, 230, 230);
    color: black;
}

.login-button:hover{
    background-color: rgb(14, 129, 43);
}

.buttons .signup-button:hover{
    background-color: rgb(212, 212, 212);
}

.welcome-demo{
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    font-family: inherit;
    color: black;
    padding: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    width: 484px;
    border-radius: unset;
    border-top: 1px solid rgb(235, 235, 235);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    font-weight: bold;
}